<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363598395396-91jd2aqdei5264s8gvr00ksknnlfdfst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363598395396-91jd2aqdei5264s8gvr00ksknnlfdfst</string>
	<key>API_KEY</key>
	<string>AIzaSyCxyd0apcx5ruza7pRC_UC0rcNL4bVOlP0</string>
	<key>GCM_SENDER_ID</key>
	<string>363598395396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erimsengezer.nBoxApp</string>
	<key>PROJECT_ID</key>
	<string>nbox-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nbox-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:363598395396:ios:46aafe5e6ffbe04bc0dd51</string>
	<key>DATABASE_URL</key>
	<string>https://nbox-app.firebaseio.com</string>
</dict>
</plist>
